@import './fonts/index.css';
@import './syntax-highlighting/index.css';
@import './components/demo/index.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-content: #fff;
  --color-background: oklch(98% 0.25% 264);
  --color-foreground: oklch(21% 2% 264);
  --color-selection: oklch(80% 0.2 264 / 60%);
  --color-gray: oklch(12.7% 6% 264 / 67%);
  --color-border: oklch(20% 12% 264 / 10%);
  --color-gridline: oklch(91.6% 1% 264);

  --color-navy: oklch(31% 25% 264);
  --color-blue: oklch(47% 50% 264);
  --color-red: oklch(54% 70% 31);
  --color-purple: oklch(45% 55% 340);
  --color-pink: oklch(50% 50% 380);
  --color-violet: oklch(40% 60% 300);
  --color-green: oklch(46% 30% 150);

  @media (prefers-color-scheme: dark) {
    --color-content: #000;
    --color-background: #000;
    --color-foreground: oklch(90% 2% 264);
    --color-selection: oklch(50% 0.2 264 / 80%);
    --color-gray: oklch(90% 6% 264 / 70%);
    --color-border: oklch(90% 12% 264 / 20%);
    --color-gridline: oklch(24% 1% 264);

    --color-navy: oklch(85% 25% 264);
    --color-blue: oklch(69% 50% 264);
    --color-red: oklch(80% 70% 31);
    --color-purple: oklch(85% 30% 320);
    --color-pink: oklch(80% 40% 380);
    --color-violet: oklch(80% 60% 300);
    --color-green: oklch(75% 25% 150);
  }
}

html {
  /* macOS overscroll background */
  background-color: #000;
}

body {
  min-width: 360px;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-selection);
}

.CodeBlock {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: var(--color-content);

  & code {
    /* Reset varying alignment between monospace fonts */
    display: block;
  }
}
